*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:#333;
    font-size: 18px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

#top{
    background: #fff;
    width: 100%;
}
.top-menu{
    text-align: center;
    margin-top: 30px;
    position: relative;
}

.top-menu > a > img{
    width: 150px;
}

.top-menu ul{
    position: absolute;
    right: 0;
    top: 0px;
    display: block;
}
.top-menu ul li{
    display: inline-block;
    margin-right: 30px;
}

.top-menu ul li img{
    width: 30px;
}

#gnb{
    background: #000;
    height: 50px;
    margin-top: 20px;
}

#gnb ul{
    text-align: center;
    padding-top:10px;
}

#gnb ul li {
    display: inline-block;
}

#gnb ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-right: 65px;
}

#gnb ul li:first-child img{
    width: 30px;
    left:0;
    position: absolute;

}

#gnb ul li:first-child{
    position: relative;
    margin-right: 30px;
}

/*메인 슬라이더*/
.swiper {
    position: relative;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 1920px;
    height: 680px;
    object-fit: cover;
  }
  .swiper-button-next{
    color: rgb(100, 100, 100);
  }
  .swiper-button-prev{
    color: rgb(161, 161, 161);
  }
  .swiper-pagination{
    position: absolute;
    bottom: 10px;
  }

  #section1{
      margin-top: 70px;
  }

  #section1 .section-box .section1img-box img{
      width: 700px;
  }

.section-box{
      display: flex;
  }

  #section1 .section-box .section1text-box{
      margin-left: 80px;
      text-align: center;
      margin-top: 200px;
  }

.info-text{
      text-align: start;
  }

.info-text h2{
      margin-bottom: 10px;
  }

.button-textbox{
      margin-top: 140px;
  }

.button-textbox a{
      font-size: 30px;
      font-weight: 600;
  }

  #section1 .section-box .section1text-box .button-textbox a:first-child{
      margin-right: 140px;
  }

.button-textbox a:hover{
      border-bottom: 2px solid #333;
      text-shadow: 8px 8px 5px rgba(0,0,0,0.8);;;
  }

  #section2{
      margin-top: 90px;
  }

  #section2 .section-box{
      position: relative;
  }

  #section2 .section-box .section2img-box{
      position: absolute;
      right: 0;
  }

  #section2 .section-box .section2img-box img{
      width: 600px;
  }

  #section2 .section-box .info-text{
      margin-top: 210px;
  }

  .section2text-box{
      margin-left: 120px;
  }


  #section3{
      margin-top: 150px;
  }

  #section3 .section3-1{
      margin-right: 30px;
      position: relative;
  }

  .section3-1 a{
      position: absolute;
      left:50%;
      transform: translateX(-50%);
      bottom: 40px;
      color:#fff;
      font-size: 24px;
      font-weight: 600;
  }

  #section3 .section3-2{
    position: relative;
}

.section3-2 a{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 40px;
    color:#fff;
    font-size: 24px;
    font-weight: 600;
}

.section3-1:hover a{
    border-bottom: 3px solid #fff;
    text-shadow: 8px 8px 5px rgba(0,0,0,0.5);;;
}

.section3-2:hover a{
    border-bottom: 3px solid #fff;
    text-shadow: 8px 8px 5px rgba(0,0,0,0.5);;;
}

#section4{
    margin-top: 80px;
    text-align: center;
}

#section4 .container{
    position: relative;
}

#section4 .container img{
    width: 1100px;
}

#section4 .container a{
    position: absolute;
    right: 200px;
    bottom: 50px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

#section4 .container:hover a{
    border-bottom: 3px solid #fff;
    text-shadow: 8px 8px 5px rgba(0,0,0,0.5);;;
}

.footer-box{
    background: rgb(83, 83, 83);
    width: 100%;
    height: 150px;
    margin-top: 150px;
}

.footer-box img{
    width: 120px;
    margin-top: 50px;
    margin-left: 50px;
}



